
<table class="imgtable">
    <tr>
        <td>
            <a href="{{ include.url }}">
                <img src="{{ include.img }}" alt="alt text" width="150" height="150" style="border-radius: 8px;"/> &nbsp;
            </a>
        </td>
        <td align="left">
            <a href="{{ include.url }}">
                <p> <strong>{{ include.title }} </strong><br />
                <span style="font-size: 90%;">{{ include.content }}</span> </p>
            </a>
        </td>
    </tr>
</table>
