
<!-- <table class="imgtable">
    <tr>
        <td style="width: 25%;">
            <a href="{{ include.url }}">
                <img src="{{ include.img }}" alt="image" width="100%" style="border-radius: 8px;"/>
            </a>
        </td>
        <td align="left">
            <a href="{{ include.url }}">
                <p style="margin: auto;"> <strong>{{ include.title }} </strong><br />
                <span style="font-size: 90%;">{{ include.content }}</span> </p>
            </a>
        </td>
    </tr>
</table> -->
<a href="{{ include.url }}">
<table class="imgtable">
    <tr>
        <td style="width: 25%;">
                <img src="{{ include.img }}" alt="image" width="100%" style="border-radius: 8px;"/>
        </td>
        <td align="left">
                <p style="margin: auto;"> <strong>{{ include.title }} </strong><br />
                <span style="font-size: 90%;">{{ include.content }}</span> </p>
        </td>
    </tr>
</table>
</a>